@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;800;900&display=swap');
@import 'tailwindcss';

body{
    background-color: #0C151C;
    color: #fff;
    font-family: 'Kanit', sans-serif;
}